<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>328521399479-ci15q9mr9768v6sn2krpf099aoou78f6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328521399479-ci15q9mr9768v6sn2krpf099aoou78f6</string>
	<key>API_KEY</key>
	<string>AIzaSyCgyC94FKotHimQIqlmfiA-A5mlQpRwwtE</string>
	<key>GCM_SENDER_ID</key>
	<string>328521399479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junsoft.petstar</string>
	<key>PROJECT_ID</key>
	<string>petstargram-a3ca6</string>
	<key>STORAGE_BUCKET</key>
	<string>petstargram-a3ca6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328521399479:ios:5e9bdfed9c1c8ca6</string>
	<key>DATABASE_URL</key>
	<string>https://petstargram-a3ca6.firebaseio.com</string>
</dict>
</plist>